.display-right {
    float: right;
}

.govuk-table__cell {
    &__right {
        text-align: right !important;
    }
}

.govuk-accordion__section-heading.no-top-border {
    .govuk-accordion__section-button {
        border-top: 0;
    }
}

button.button-as-link {
    background: none !important;
    border: none;
    padding: 0 !important; /*optional*/
    font-family: arial, sans-serif; /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    font-family: "GDS Transport", arial, sans-serif;
    font-size: 1.1875rem;
}