@using EPR.Accreditation.Portal.Resources
@using EPR.Accreditation.Portal.ViewModels
@inject MaterialTypeViewModel materialTypeViewModel;

<span class="govuk-caption-l">
    @MasterResources.MaterialForLabel @materialTypeViewModel.Name
</span>