
@using Microsoft.AspNetCore.Mvc.Routing;

@{
    ViewData["Title"] = "Home";
}

<div class="govuk-body"><a asp-action="Index"></a></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Placeholder home page</h1>
        <p class="govuk-body">This is a temporary home page to satisfy the AC for 336366's button redirect requirement</p>
    </div>
</div>