
@using Microsoft.AspNetCore.Mvc.Routing;

@{
    ViewData["Title"] = "Home";
}

<div class="govuk-body"><a asp-action="Index"></a></div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">Mr J Test</span>
        <h1 class="govuk-heading-xl">Test Name
        <p class="govuk-body-s">8765443</p>

        </h1>
    </div>
</div>