<?xml version="1.0" encoding="utf-8"?>

<configuration>

<packageSources>

<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

<add key="epr-packaging-common" value="https://pkgs.dev.azure.com/defragovuk/RWD-CPR-EPR4P-ADO/_packaging/defra-epr-common/nuget/v3/index.json"/>

</packageSources>

<packageSourceCredentials>

<epr-packaging-common>

<add key="Username" value="Sajid.Khurshid@Defra.onmicrosoft.com" />

<add key="ClearTextPassword" value="h4lneajdslfmxzeyzbaaoxaodxkauzj6qwmzvvvwyd7lwd262gea"/>

</epr-packaging-common>

</packageSourceCredentials>

</configuration>